.oneArea
  .container
    .row.align-items-center
      .col-md-6.text-center
        = image_tag "radio_listening.svg", class: "img-fluid"
      .col-md-6.text-center
        h1 📻 YONDE 🌃
        p
          | 誰でも簡単にオールナイトニッポンの
          br
          | 好きな番組の好きなコーナーに
          br
          | 投稿メールを作ることができます。
        p
          = link_to new_post_path, class: 'btn1 large radius'
            | 投稿メールを作ってみる&nbsp;
            i.fas.fa-arrow-circle-right
