- content_for(:title, t('.title'))

h4.fw-bold
  span.me-1 🎧
  span = 'ノベルティグッズ発送用情報'

.container
  .row
    .col-md-10.offset-md-1.col-lg-8.offset-lg-2
      = form_with model: @profile, url: profile_path, local: true, method: :patch do |f|
        = render "shared/error_messages", object: f.object

        .form-group
          = f.label :zip_code
          = f.text_field :zip_code, class: 'form-control mb-3'

        .form-group
          = f.label :prefecture
          = f.text_field :prefecture, class: 'form-control mb-3'

        .form-group
          = f.label :city
          = f.text_field :city, class: 'form-control mb-3'

        .form-group
          = f.label :other_address
          = f.text_field :other_address, class: 'form-control mb-3'

        .form-group
          = f.label :phone
          = f.text_field :phone, class: 'form-control mb-3'

        .form-group
          = f.label :legal_name
          = f.text_field :legal_name, class: 'form-control mb-3'

        = f.submit (t 'defaults.update'), class: 'btn btn-warning mb-3'
