- content_for(:title, t('.title'))

h4.fw-bold
  span.me-1 🎧
  span = t('.title')

.container
  .row
    .col-lg-6.col-md-10.mx-auto
      = form_with model: @profile, url: profile_path, local: true, method: :patch do |f|

        .m-3.mx-auto
          = f.label :zip_code
          = f.text_field :zip_code, placeholder: '000-0000', class: 'form-control'
          = render "shared/error_messages", model: @profile, attribute: :zip_code

        .m-3.mx-auto
          = f.label :prefecture
          = f.text_field :prefecture, placeholder: '東京都', class: 'form-control'
          = render "shared/error_messages", model: @profile, attribute: :prefecture

        .m-3.mx-auto
          = f.label :city
          = f.text_field :city, placeholder: '千代田区', class: 'form-control'
          = render "shared/error_messages", model: @profile, attribute: :city

        .m-3.mx-auto
          = f.label :other_address
          = f.text_field :other_address, placeholder: '有楽町1-9-3', class: 'form-control'
          = render "shared/error_messages", model: @profile, attribute: :other_address

        .m-3.mx-auto
          = f.label :phone, '電話番号（ハイフンも入力ください）'
          = f.text_field :phone, placeholder: '000-0000-0000', class: 'form-control'
          = render "shared/error_messages", model: @profile, attribute: :phone

        .m-3.mx-auto
          = f.label :legal_name
          = f.text_field :legal_name, placeholder: '有楽太郎', class: 'form-control'
          = render "shared/error_messages", model: @profile, attribute: :legal_name

        p.actions.text-center
          = f.submit (t 'defaults.update'), class: 'btn btn-warning w-50 m-3'
