.card.mb-3
  .card-header
    | 投稿メール
  ul class="list-group list-group-flush"
    li class="list-group-item"
      An 🎙 番組 | To: #{@post.segment.program.email}
    li class="list-group-item"
      An 📻 件名 | #{@post.segment.segment_title_for_email}

    .card-body
      - if @post.prefecture.present? || @post.city.present?
        | 在住: 
        = @post.prefecture
        = @post.city
      - if @post.radio_name.present?
        p
          | RN: 
          = @post.radio_name
      = simple_format(@post.body)
      - if @post.zip_code.present?
        div
          | 郵便番号: 
          = @post.zip_code.to_s.insert(3, "-")
      - if @post.prefecture.present? || @post.city.present? || @post.other_address.present?
        div
          | 住所: 
          = @post.prefecture
          = @post.city
          = @post.other_address
      - if @post.phone.present?
        div
          | 電話番号: 
          = @post.phone
      - if @post.legal_name.present?
        div
          | 名前: 
          = @post.legal_name
