- content_for(:title, t('.title'))

h4.fw-bold
  span.me-1 📮
  span = t('.title')

/ search field
= render 'search', url: posts_path

/ posts field
ul.nav.nav-tabs.justify-content-end.mt-3#myTab
  li.nav-item
    a.nav-link.active data-bs-toggle="tab" href="#tab1"
      i.fas.fa-th-large
  li.nav-item
    a.nav-link data-bs-toggle="tab" href="#tab2"
      i.fas.fa-list-ul

.tab-content.mt-3
  #tab1.tab-pane.mt-3
    - if @posts.any?
      = render 'card', posts: @posts
    - else
      = render 'zero_post'

  #tab2.tab-pane
    - if @posts.any?
      = render 'table', posts: @posts
    - else
      = render 'zero_post'

  .d-flex.justify-content-center.m-3
    = paginate @posts
