- content_for(:title, @post.segment.segment_title_for_email)

h4.fw-bold
  span.me-1 📮
  span = @post.segment.program.program

div = post_status_badge(@post)

.container.mt-5.mb-3
  .row
    .col-lg-8.offset-lg-2
      = link_to "削除", post_path(@post), data: { turbo_method: :delete, turbo_confirm: t('defaults.message.delete_confirm')}, class: 'btn btn-danger mb-3', style: 'float: right'
    .col-lg-8.offset-lg-2
      = render 'show_form'
    .col-lg-8.offset-lg-2.d-flex.justify-content-center
      .btn-group
        = link_to "編集する", edit_post_path(@post), class: 'btn btn-secondary m-3'
      .btn-group
        = mail_to @post.segment.program.email, 'メールアプリから送信', class: 'btn btn-warning m-3',
          subject: @post.segment.segment_title_for_email, body: generate_email_body(@post)
