@charset "utf-8";
@import url("https://unpkg.com/sanitize.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&display=swap');
@import url("animation.css");
@import url("top.css");

html, body {
  font-size: 14px;
  height: 100%;
}

body {
  font-family: 'BIZ UDPGothic', sans-serif;
  -webkit-text-size-adjust: none;
  letter-spacing: 0.1em;
  background: #ffff;
  color: #555;
  line-height: 2;
  min-height: 100vh;
}

body > footer {
  // position: sticky;
  position: fixed;
  top: 100vh;
  bottom: 0;
  width: 100%;
  background-color: #f1c40e;
}

// for a tablet
@media (max-width: 767px) {
  footer {
    font-size:  0.5rem;
  }
}

img.img-fluid {
  max-width: 100%;
  height: auto;
}

.btn {
  letter-spacing: 0.1em;
  border-radius: 50px;
  padding: 5px 20px;
}

.badge {
  letter-spacing: 0.1em;
  border-radius: 50px;
  padding: 5px 20px;
}

.alert-dismissible .btn-close {
  padding: 0.5rem 1rem;
}

.btn1 {
  display: inline-block;
  text-decoration: none;
  letter-spacing: 0.1em;
  border-radius: 50px;
  padding: 5px 30px;
  font-size: 1.2em;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  color: #444;
}

.btn-warning {
  background: #f1c40e;
}

.btn1:hover {
  transform: scale(1.03);
  filter: brightness(1.1);
}

.icon-link {
  text-decoration: none;
}

.icon-color {
  color: #2b3d4f;
}

.icon-large {
  font-size: 50px;
}

.nav-pills {
  --bs-nav-pills-link-active-bg: rgba(241, 196, 14, 0.3);
}

.accordion {
  --bs-accordion-active-bg: rgb(128, 141, 142, 0.3);
}

.pagination {
  --bs-pagination-active-bg: rgb(43, 61, 79);
  --bs-pagination-color: none;
  --bs-pagination-active-border-color: rgb(43, 61, 79);
}
