.oneArea {
  background: linear-gradient(-40deg, #f1c40e 0%, #f1c40e 50%, #354a5f 50%, #354a5f 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
}
